html, body {
    margin: 0px;
    background-color: #2F4F30 !important;
    color: white;
}

.titulo {
    text-align: center;
    background-color: #000;
    padding: 20px;
    font-size: 25px;
    color: white;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

h1 {
    color: white;
}